.text-center {
    text-align: center;
  }
  
  .rounded-circle {
    border-radius: 50%;
    width: 250px; /* Adjust the size as needed */
    height: 250px; /* Adjust the size as needed */
    display: block;
    margin: 0 auto; /* Center the image horizontally */
  }
  h1{
    text-align: center;
  }