.readonly-select {
    background-color: grey; /* Set a background color for readonly appearance */
    pointer-events: none; /* Disable pointer events to make it unclickable */
    color: black;
    
  }