<div class="container">
  <br>
  <div class="header">
    <div class="row">
      <div class="col-sm-8 custom margin-search">
        <input type="search" class="form-control" placeholder="Search text here ..." [(ngModel)]="searchTerm">
      </div>
    </div>
  </div>
  <br>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Purchase Order ID</th>
        <th>Order Date</th>
        <th>Delivery Date</th>
        <th>Asset Type Name</th>
        <th>Vendor Name </th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let p of purchaseorderservice.order|filter:searchTerm|paginate :{itemsPerPage:pageSize,currentPage:page}">
        <td>{{p.id}}</td>
        <td>{{p.orderDate|date:'dd-MM-yyyy'}}</td>
        <td>{{p.deliveryDate|date:'dd-MM-yyyy'}}</td>
        <td>{{getAssetNameById(p.assetId)}}</td>
        <td>{{getVendorNameById(p.vendorId)}}</td>
        <td>{{getStatusNameById(p.statusId)}}</td>
        <td><button type="button" class="btn btn-sm btn-outline-info" (click)="editPurchaseOrder(p)">
            <i class="fa fa-edit"></i></button>&nbsp;
          <button type="button" class="btn  btn-sm btn-danger" (click)="disableOrder(p.id)"><i
              class="fa fa-trash"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="footer">
    <pagination-controls (pageChange)="page = $event" class="custom-page"></pagination-controls>
  </div>
</div>
<router-outlet></router-outlet>