<!-- <div class="container">
  <h1>{{title}} Asset Management System</h1>
</div> -->
<br>
<div class="container">
  <!-- Navbar using Bootstrap classes -->
  <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <!-- Logo on the left -->
    <a class="navbar-brand" href="#">
      <img src="../assets/WhatsApp Image 2023-10-02 at 22.36.03.jpeg" alt="Logo" width="50" class="rounded-circle">

    </a>
    <h1 style="color: white;">ENIGMA</h1>

    <!-- Navigation links on the right -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="https://www.linkedin.com/in/priyanka-roy-2816b81b3/" style="color: white;">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.linkedin.com/in/anjana-c-9a1067234/" style="color:white;">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.linkedin.com/in/navya-baby-665839219/" style="color: white;">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
  <br>
  <h1 class="text-center display-7 " style="color: black;">Asset Management System</h1>
</div>
<router-outlet></router-outlet> 