<div class="container">
    <div class="jumbotron">
        <h1 class="display-4 mb-4">Welcome</h1>
        <p>Please select your option below:</p>
        <hr>

        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Company Login</h5>
                        <p class="card-text">Login as a company user to access your account.</p>
                        <a [routerLink]="['/auth/login']" class="btn btn-primary">Login</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Vendor Login</h5>
                        <p class="card-text">Login as a vendor user to access your account.</p>
                        <a [routerLink]="['/auth/login']" class="btn btn-primary">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <a [routerLink]="['/auth/login']" role="button" class="btn btn-outline-primary">
        <span><i class="fa fa-user-plus fa-lg"></i></span><br>Login for Company</a>&nbsp;
    <a [routerLink]="['/auth/login']" role="button" class="btn btn-outline-primary">
        <span><i class="fa fa-users fa-lg"></i></span><br>Login For Vendors</a>
    <a [routerLink]="['/company/vendorlist']" role="button" class="btn btn-outline-primary">
        <span><i class="fa fa-users fa-lg"></i></span><br>List of vendors</a>
    <a [routerLink]="['/company/viewstatus']" role="button" class="btn btn-outline-primary">
        <span><i class="fa fa-users fa-lg"></i></span><br>View Status</a> -->
</div>
<router-outlet></router-outlet>