<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">WELCOME</h1>
        <p>Please select your option below</p>
        <hr>
    </div>
    <a [routerLink]="['/auth/login']" role="button" class="btn btn-outline-primary">
        <span><i class="fa fa-user-plus fa-lg"></i></span><br>Login for Company</a>&nbsp;
    <a [routerLink]="['/auth/login']" role="button" class="btn btn-outline-primary">
        <span><i class="fa fa-users fa-lg"></i></span><br>Login For Vendors</a>
    <a [routerLink]="['/company/vendorlist']" role="button" class="btn btn-outline-primary">
        <span><i class="fa fa-users fa-lg"></i></span><br>List of vendors</a>
</div>
<router-outlet></router-outlet>