/* You can add global styles to this file, and also import other style files */
.validation-error{
    color: red;
}
.form-group>input{
    font-weight: bolder;
}
.form-group>select{
    font-weight: bolder;
}
.error-message{
    color: red;
}